.idea/
.tmp/
build/
coverage/
doc/
example/
src/
test/
typings/
.editorconfig
.gitattributes
.jshintrc
.npmignore
.travis.yml
gtp.iml
gulpfile.js
karma.conf.js
npm-debug.log
test-main.js
Thumbs.db
tsconfig.json
tslint.json
typings.json